<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lịch thành công</title>
    <script>
        window.onload = function() {
            // Hiển thị thông báo và khi người dùng nhấn OK, chuyển hướng về trang chủ
            alert("{{ message }}");
            window.location.href = "{% url 'home' %}";
        }
    </script>
</head>
<body>
</body>
</html>
